/* SCSS declarations go here */

$grey: #E9EAF3;
$turkis: #0ABFB3;
$blue: #659CEF;
$purple: #343353;
$white: #fff;

html, body {
  box-sizing: border-box;
  height: 100%;
}

html {
  font-family: sans-serif;
  color: $purple;

  -o-user-select: none;
  user-select: none;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

.clearfix::after{
  clear: both;
  content: '';
}

.lobby {
  margin: 0;
  padding-top: 25%;
  background: linear-gradient(to right, $turkis 0%, $blue 100%);
  width: 100%;
  height: 100%;
  transition: height .5s, padding-top .5s;

  &.correct {
    padding-top: 0%;
    height: 10px;

    * {
      opacity: 0;
    }
  }

  .wrapper{
    box-sizing: border-box;
    width: 75%;
    padding: 1em;
    margin: 0 auto;
    background: $white;

    * {
      box-sizing: border-box;
    }
    h1 {
      font-size: 2em;
      text-align: center;
    }

    input {
      border: 1px solid $grey;
      padding: 1em;
      margin-bottom: 1em;
      width: 100%;
    }
    button {
      width: 50%;
      margin: 0 auto;
      display: block;
      padding: 1em;
    }

    .error{
      text-align: center;
      padding-top: 1em;
      color: #f22;
    }
  }
}

.overlay {
  display: hidden;
  opacity: 0;
  transition: opacity 1s;

  &.inactive{
    display: block;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.8;
  }
}


.chat{
  .top-border {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border: 5px solid transparent;
    -moz-border-image: -moz-linear-gradient(left, $turkis 0%, $blue 100%);
    -webkit-border-image: -webkit-linear-gradient(left, $turkis 0%, $blue 100%);
    border-image: linear-gradient(to right, $turkis 0%, $blue 100%);
    border-image-slice: 1;
  }
  .messages {
    padding: 1em;
    padding-bottom: 4em;
    display: flex;
    flex-direction: column;
    transition: padding-bottom .2s;

    &.active{
      padding-bottom: 7.4em;
    }

    .message{
      border: 1px solid $grey;
      padding: 1em;
      max-width: 60%;
      display: inline-block;
      line-height: 1.4em;
      margin-bottom: 0.5em;
      animation-name: receive;
      animation-duration: .2s;

      &:last-child {
        margin-bottom: 0;
      }

      &.me {
        background: $grey;
        align-self: flex-end;
      }
    }
  }

  .my-message{
    border-top: 10px solid white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1.2em;
    background: $grey;
    transition: bottom .2s;

    &.active{
      bottom: 7.4em;
    }
  }

  .words{
    position: fixed;
    bottom: -7.4em;
    left: 0;
    width: 100%;
    height: 5em;
    padding: 1.2em;
    background: #3B3F57;
    transition: bottom .2s;

    &.active {
      bottom: 0;
    }
  }

  .answer{
    color: white;
    border: 1px solid white;
    border-radius: 2px;
    display: inline-block;
    padding: 0.5em;
    margin: 0.2em;
  }
}

@keyframes receive {
    from {margin-left: -75%;}
    to {margin-left: 0;}
}