/* SCSS declarations go here */

$grey: #E9EAF3;
$turkis: #0ABFB3;
$blue: #659CEF;

html {
  font-family: sans-serif;
  color: #343353;
}

.clearfix::after{
  clear: both;
  content: '';
}

.sync{
  text-align: center;

  h1 {
    font-size: 2em;
  }

  input {
    border: 1px solid $grey;
  }
}


.chat{
  .top-border {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border: 5px solid transparent;
    -moz-border-image: -moz-linear-gradient(left, $turkis 0%, $blue 100%);
    -webkit-border-image: -webkit-linear-gradient(left, $turkis 0%, $blue 100%);
    border-image: linear-gradient(to right, $turkis 0%, $blue 100%);
    border-image-slice: 1;
  }
  .messages {
    padding: 1em 1em 4em 1em;
    display: flex;
    flex-direction: column;

    .message{
      border: 1px solid $grey;
      padding: 1em;
      max-width: 60%;
      display: inline-block;
      line-height: 1.4em;
      margin-bottom: 0.5em;

      &:last-child {
        margin-bottom: 0;
      }

      &.me {
        background: $grey;
        align-self: flex-end;
      }
    }
  }

  .my-message{
    border-top: 10px solid white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1.2em;
    background: $grey;
    &.active{
      bottom: 7.4em;
    }
  }

  .words{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5em;
    padding: 1.2em;
    background: #3B3F57;
  }

  .answer{
    color: white;
    border: 1px solid white;
    border-radius: 2px;
    display: inline-block;
    padding: 0.2em;
    margin: 0.2em;
  }
}